page-home {
  // .toolbar-background {
  //   background-color: #004ecb;
  // }
}

page-whaticanteat {
  .toolbar-background {
    background-color: color($colors, pd);
  }
  .content {
    background-color: color($colors, p);
  }
  
}

page-whaticaneat {
  .toolbar-background {
    background-color: color($colors, sd)
  }
  .content {
    background-color: color($colors, s);
  }
}