page-home {
  // .toolbar-background {
  //   background-color: #004ecb;
  // }
}

page-whaticanteat {
  .toolbar-background {
    background-color: #c4001d;
  }
  .content {
    background-color: #ff1744;
  }
  
}

page-whaticaneat {
  .toolbar-background {
    background-color: #00b248;
  }
  .content {
    background-color: #00e676;
  }
}