// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// https://material.io/color/#!/?view.left=1&view.right=0&primary.color=00B0FF&secondary.color=00E5FF

$colors: (
  primary:    #00b0ff,
  primarylight: #69e2ff,
  primarydark: #0081cb,
  secondary:  #00e5ff,
  secondarylight: #6effff,
  secondarydark: #00b2cc,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

  p: #ff1744,
  pl: #ff616f,
  pd: #c4001d,

  s: #00e676,

  t: #2979ff
);


$toolbar-background: #00b0ff;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
